<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.bingo.a4330.bingo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //added by megan
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //added by megan
    <uses-permission android:name="android.permission.CAMERA" />
    //added by megan
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //added by westen
    <uses-permission android:name="android.permission.INTERNET" />
    //added by westen
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    //added by megan
    //large heap added
    <application
        android:allowBackup="true"
        android:icon="@drawable/bingo_clear"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstRun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
            >
        </provider>
        //all of the provider was added by megan
        <activity android:name=".activityLog" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".trackWalk" />
        <activity android:name=".ViewPhotoActivity" />
        <activity android:name=".GalleryHomepage" />
        <activity android:name=".ImageViewer" />
        <activity android:name=".healthList" />
        <activity android:name=".dogList" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIFD8eINgs0YGJzUi8L55grhTWssWuVpM" />

    </application>

</manifest>